Laba5/Lab5/Client/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNameStudSelectData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNameStudSelectData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNameStudSelectData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameStudSelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDisSelectData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDisSelectData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDisSelectData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDisSelectDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RecCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:RecCheck" />
  </wsdl:message>
  <wsdl:message name="IService1_RecCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMethod" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNameStudSelectData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNameStudSelectData" message="tns:IService1_GetNameStudSelectData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNameStudSelectDataResponse" message="tns:IService1_GetNameStudSelectData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDisSelectData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDisSelectData" message="tns:IService1_GetDisSelectData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDisSelectDataResponse" message="tns:IService1_GetDisSelectData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RecCheck" message="tns:IService1_RecCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RecCheckResponse" message="tns:IService1_RecCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertMethod" message="tns:IService1_InsertMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertMethodResponse" message="tns:IService1_InsertMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameStudSelectData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNameStudSelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisSelectData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDisSelectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecCheck">
      <soap:operation soapAction="http://tempuri.org/IService1/RecCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMethod">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>